<h1>Nouveau commentaire</h1>

<%= form_tag('/comments') do -%>
    Saisie son contenu : <br><textarea name="content" id="ameliorer"></textarea><br>
    <%= select_tag "gossip", options_from_collection_for_select(@gossip, "id", "title") %>
    <div><%= submit_tag 'Save' %></div>
<% end -%>

<br>

<div>
  <%= link_to "Back to comments", comments_path %>
</div>
