<%= form_tag('/gossip') do -%>
    Saisi un titre de gossip (Entre 3 et 14 charactères) :  <input type='text' name='title'/><br/>
    Saisi son contenu : <input type='text' name='content'/><br/>
    <div><%= submit_tag 'Save' %></div>
<% end -%>
